<router-outlet></router-outlet>

<h2>contex-help</h2>

<context-help [context]="'Some description 1'">
  <h3>Some title 1</h3>
</context-help>

<context-help [context]="'Some description 2'">
  <h3>Some title 2</h3>
</context-help>

<context-help [context]="'Some description 3'">
  <h3>Some title 3</h3>
</context-help>

<br />
Problème : si on a 100 composants "context-help", à chaque clic sur un des
composants, il y aura 100 ticks de declenchés (pb de performance)<br />
<br /><br />

<hr />

<h2>app-context-help-coalescing</h2>
<br />
tick déclenché uniquement sur le composant
<br />
<br />
main.ts ajouté -> ngZoneEventCoalescing: true<br />
<!--
main.ts
___
...
platformBrowserDynamic()
  .bootstrapModule(AppModule, { ngZoneEventCoalescing: true })
  .catch((err) => console.error(err));
___
-->
<br />
<br />

<app-context-help-coalescing [context]="'Some description 1'">
  <h3>Some title 1</h3>
</app-context-help-coalescing>

<app-context-help-coalescing [context]="'Some description 2'">
  <h3>Some title 2</h3>
</app-context-help-coalescing>

<app-context-help-coalescing [context]="'Some description 3'">
  <h3>Some title 3</h3>
</app-context-help-coalescing>
